<h1>Contact</h1>
<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
  <div>
    <label for="">Name:</label>
    <input [(ngModel)]="currContact.name" type="text" required name="name"/>
  </div>
  <div>
    <label for="">Last Name:</label>
    <input [(ngModel)]="currContact.lastName" type="text" required name="lastName"/>
  </div>
  <div>
    <label for="">Phone Number:</label>
    <input [(ngModel)]="currContact.phone" type="text" required name="phone"/>
  </div>
  <button type="submit">Submit</button>
</form>

<div>
  <div *ngFor="let contact of contacts">
    <div *ngIf="!!contact">
      <input type="checkbox" name="contact" (click)="onRowSelected(contact.id)"><br>
        <p>{{contact.name}}</p>
        <p>{{contact.lastName}}</p>
        <p>{{contact.phone}}</p>
        <button (click)="onDelete(contact.id)">Delete</button>
    </div>
    
  </div>
</div>