<h1>Contact</h1>
<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
  <div>
    <label for="">Name:</label>
    <input [(ngModel)]="currContact.name" type="text" required name="name"/>
  </div>
  <div>
    <label for="">Last Name:</label>
    <input [(ngModel)]="currContact.lastName" type="text" required name="lastName"/>
  </div>
  <div>
    <label for="">Phone Number:</label>
    <input [(ngModel)]="currContact.phone" type="text" required name="phone"/>
  </div>
  <button type="submit">Submit</button>
</form>