<form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm.value)">
    <!-- we will place our fields here -->

    <!-- name -->
    <div class="form-group">
        <label>Name: </label>
        <input type="text" formControlName="name">
        <!--display error message if name is not valid-->
        <!-- <small *ngIf="!myForm.controls.name.valid" class="text-danger">
            Name is required (minimum 5 characters).
        </small> -->
    </div>

    <!-- lastName -->
    <div class="form-group">
        <label>Last Name: </label>
        <input type="text" formControlName="lastName">
        <!--display error message if last name is not valid-->
        <!-- <small *ngIf="!myForm.controls.name.valid" class="text-danger">
            Last Name is required (minimum 5 characters).
        </small> -->
    </div>
    <div formArrayName="phones">
        <div *ngFor="let phone of myForm.controls.phones.controls; let i=index">
            <a type="button" (click)="removePhone(i)">Delete</a>
            <!-- phone header, show remove button when more than one address available -->
            <div>
                <span>Phone {{i + 1}}</span>
                <span *ngIf="myForm.controls.phones.controls.length > 1" 
                    (click)="removePhone(i)">
                </span>
            </div>
            <div [formGroupName]="i">
                <div>
                    <label>phone</label>
                    <input type="text" formControlName="phone">
                    <!--display error message if phone is not valid-->
                    <!-- <small [hidden]="myForm.controls.addresses.controls[i].controls.phone.valid">
                        Phone is required
                    </small> -->
                </div>
              </div>
        </div>
    </div>
    <button type="button" (click)="addPhone()">Add new address</button>
    <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>